# Ignore HTML, CSS, JS files from language stats
*.scss linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.json linguist-vendored
*.md linguist-vendored

# Force GitHub to count only PHP files
*.php linguist-detectable
